extends layout

block content
  body(class='index-body')
    h1(class='index-title')= title
    h3(class='index-subtitle')= 'Veldu banka'
    div(class="buttons-container")
      a(class='button-arion' href='/arion'): img(class='fp-img' src="../images/arion2.png" alt='arion-logo-white')
      a(class="button-lb" href='/lb'): img(class='fp-img' src="../images/landsb2.png" alt='lb-logo-white')
