extends layout

block content
  body(class='index-body')
    h1(class="h1-class")= title
    div(class="buttons-container")
      a(class='button-arion' href='/arion'): img(class='fp-img' src="../images/arionlogo-roundedcorners.png")
      a(class="button-lb" href='/lb'): img(class='fp-img' src="../images/lblogo-roundedcorners.png")
