extends layout

block content
  body(class='index-body')
    h1(class="index-title")= title
    div(class="buttons-container")
      a(class='button-arion' href='/arion'): img(class='fp-img' src="../images/arion.png")
      a(class="button-lb" href='/lb'): img(class='fp-img' src="../images/landsb.png")
