doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet")
    script(src='/javascripts/exchange.js')
block content
