doctype html
html
  head
    link(rel='shortcut icon' href='../images/favicon.ico' type='image/x-icon')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet")
    script(src='/javascripts/exchange.js')
block content
