html{
  margin-bottom: 0;
  background: linear-gradient(to bottom, #000066 0%, #00004d 100%);
  min-height: 100%;
}

body {
  margin: 0 auto;
  text-align: center;
  width: 70%;
  min-height: 100%;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0  !important;
}

a {
  color: #00B7FF;
}

.table-div {
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  width: 95%;
  background-color: white;
}

h1{
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

.buttons-container{
  width: 50%;
  display: flex;
  align-content: space-between;
  margin: 50px auto;
  }

.button-arion{
margin-right: 13%;
}

.fp-img{
  max-width: 100%;
  max-height: 100%;
}

.fp-img:hover{
  opacity: 0.7;
}

table {
  margin: 0 auto;
  width: 95%;
  border-collapse: collapse;
}

thead {
  background-color:  #F0F0F0 ;
}

tr {
  border-bottom: 1px solid #aaa;
  height: 30px;
}

td {
  width: 20%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.td-left {
  border-left: none;
}

.td-right {
  border-right: none;
}

tr:nth-child(even) {
  background-color: #F0F0F0 ;
}
