body {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e6e6ff !important;
}

a {
  color: #00B7FF;
}

.h1-class{
  text-align: center;
}

.buttons-container{
  width: 50%;
  display: flex;
  align-content: space-between;
  margin: 50px auto;
  }

.button-arion{
margin-right: 13%;
}

.fp-img{
  max-width: 100%;
  max-height: 100%;
}

.fp-img:hover{
  opacity: 0.7;
}

table {
  margin: 0 auto;
  width: 50%;
  border-collapse: collapse;
}

thead {
  background-color:  #ddd;
}

tr {
  border-bottom: 1px solid #aaa;
}

td {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.td-left {
  border-left: none;
}

.td-right {
  border-right: none;
}

tr:nth-child(even) {
  background-color: #ddd;
}
