html {
  margin-bottom: 0;
  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #96bda9 , #1ce); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #96bda9 , #1ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100%;
  font: 16px "Libre Franklin", sans-serif;
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #F0F0F0;
}

.index-body {
  margin: 0 auto;
}

.index-title {
  text-align: center;
  margin: 0;
  padding-top: 7rem;
  color: #fff;
  font: 4rem "Century Gothic", "Muli", sans-serif;
}

.buttons-container {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: 4.125rem auto;
  }

.fp-img {
  max-width: 100%;
  max-height: 100%;
}

.fp-img:hover {
  opacity: 0.7;
}

.conv-body {
  margin: 0 auto;
  padding-bottom: 1.5rem;
  width: 100%;
  min-height: 100%;
}

.logo {
  padding: 0.75rem 0 0.75rem 13.25rem;
  height: 2.5rem;
  width: 2.5rem;
}

.conv-title {
  margin: 0;
  padding: 0.75rem 0 0.75rem 1rem;
}

.logo-title {
  display: flex;
  justify-content: flex-start;
}

.conv-back {
  margin: 0;
  padding-top: 1.4rem;
  border-left: 1px solid #aaa;
}

.conv-back-link {
  margin: 0;
  padding: 1.4rem 1.5rem 1.6rem 1.5rem;
  color: black;
  text-decoration: none;
}

.conv-back-link:hover {
  background-color: #D0D0D0;
}

.table-cont {
  margin: 1.5rem auto;
  width: 70%;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
  background-color: #F0F0F0;
}

.table-div {
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  width: 95%;
  background-color: white;
}

table {
  margin: 0 auto;
  width: 95%;
  border-collapse: collapse;
}

thead {
  background-color:  #F0F0F0 ;
}

tr {
  border-bottom: 1px solid #aaa;
  height: 30px;
}

td {
  width: 20%;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.td-left-header {
  border-left: none;
  text-align: left;
  padding-left: 2.7rem;
}

.td-left {
  border-left: none;
  text-align: left;
  padding-left: 3.35rem;
}


.td-right {
  border-right: none;
}

tr:nth-child(even) {
  background-color: #F0F0F0 ;
}

.err-body {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.err-title {
  padding-top: 7rem;
  color: #fff;
  font: 4rem "Century Gothic", sans-serif;
}
